<div class="home-page">
<div class="home-page__inner">
  <h1>Регистрация завершена успешно</h1>
  <p>Поздравляем <strong><%= cookies[:username]%></strong>, Вы успешно зарегистрированы на сайте.</p>
  <p>В ближайшее время администратор проверит вашу заявку и, <strong>возможно</strong>, вы сможете войти на сайт используя свой email и пароль</p>
  <%= link_to "На главную", root_path, class: "btn" %>
  </div>
</div>