<footer class="footer">
    <div class="container footer__authors">
    <a href="https://github.com/EnvProd/SimpleSite">EnvProd SimpleSite</a></br>
    Черняев Артём, Гаранин Олег, Исмагилов Руслан
    </div>
</footer>